.login-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-control h3 {
  text-align: center;
  padding: 30px;
}
.login-control img {
  text-align: center;
  width: 100%;
  height: 300px;
}
