.contact_info h3 {
  text-align: center;
}
.contact_details_main {
  margin: 20px 0;
}
.contact_mobile {
  text-align: center;
}
.contact_mobile img {
  width: 100px;
  height: 100px;
}
.contact_info {
  text-align: center;
}
.info_mobile {
  display: inline-block;
  border: 1px solid rgb(209, 209, 209);
  padding: 40px 80px;
  margin: 10px 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.contact_mobileInfo {
  margin: 20px 0;
}
.contact_infomain {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}
.info_mobile {
  width: 400px;
  height: 300px;
}
@media (max-width: 600px) {
  .contact_mobileInfo h3 {
    font-size: 13px;
    line-height: 20px;
  }
}
