.quiz_main {
  text-align: center;
  padding: 30px;
}
.quiz_main hr {
  width: 30%;
  margin: 0 auto;
  height: 8px;
  border-radius: 5px;
  color: blue;
  border: 1px solid blue;
}
.quiz_data {
  padding: 20px;
  width: 1020px;
  margin: 0 auto;
}
.quiz_question {
  margin: 20px 0;
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.quiz_question ol li {
  font-size: 16px;
  color: black;
  margin: 5px 0;
  cursor: pointer;
}
.button_flex {
  display: flex;
}
.workspace_button {
  margin-left: 5px;
}
.quiz_question .view_button {
  border: 1px solid #24a0ed;
  background: #24a0ed;
  border-radius: 3px;
  color: white;
  outline: none;
  font-size: 16px;
  width: 150px;
}
.quiz_question_min button {
  width: 100%;
  height: 40px;
  border: 1px solid #24a0ed;
  background: #24a0ed;
  border-radius: 3px;
  color: white;
  outline: none;
  font-size: 16px;
}

@media only screen and (max-width: 992px) {
  .quiz_data {
    padding: 20px;
    width: 760px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 768px) {
  .quiz_data {
    padding: 20px;
    width: 560px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .quiz_data {
    padding: 10px;
    width: 400px;
    margin: 0 auto;
  }
  .quiz_main h2 {
    font-size: 18px;
  }
  .quiz_question .view_button {
    width: 150px;
  }
}
@media only screen and (max-width: 400px) {
  .quiz_data {
    padding: 5px;
    width: 320px;
    margin: 0 auto;
  }
  .quiz_main h2 {
    font-size: 18px;
  }
  .quiz_question .view_button {
    width: 150px;
  }
}
.quiz_question .colorGreen {
  color: green;
  font-weight: 600;
}
.quiz_question .colorRed {
  color: red;
}
